<h1>activities form</h1>
<form>
    <label>Location *</label>
    <input type="location" placeholder="in omaha">
    <br>
    <label>Date *</label>
    <input type="date" placeholder="8/5/2017">
    <br>
    <label>Supervisor *</label>
    <input type="supervisor" placeholder="Grace">
    <br>
    <label>Supervisor Email*</label>
    <input type="Email" placeholder="email@email.com">
    <br>
    <label>description of work*</label>
    <input type="description" placeholder="went to humane society">
    <br>
    <label>Amount of Hours*</label>
    <input type="Hours" placeholder="5">
    <br>
    <input type="submit" value="Submit">
</form>