<!DOCTYPE html>

<html>
<head>
<title>SheQL Project</title>
<!-- Optional custom CSS that you write -->
<link rel="stylesheet" href="assets/dist/custom.css" type="text/css" media="all">
<link rel="stylesheet" href="assets/dist/style.css" type="text/css" media="all">
<link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body style="background-color:#4062A2; padding:2%;">
  <nav class="main-nav sticky-nav">
      <div class="menu">
          <img src="assets/my-logo.png" alt="My Logo">
          <ul>
              <li><a href="#">about</a></li>
              <li><a href="#">admin</a></li>
              <li><a href="#">login</a></li>
              
          </ul>
          <button class="open-menu">Menu</button>
          <button class="close-menu">Close</button>
      </div>
  </nav>

  
  <%= yield %>

</body>

 <!--jQuery -->
<script src="assets/lib/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>

</html>