
<h1 class="whiteText welcome">Hello, <%= @user.name %></h1>

<form class="darkBackground whiteText activityForm" method="POST" action="/activities">
    <h2 class="whiteText">Submit Hours</h1>
    <label class="field">Title</label> <input class="input" type="title" name="title" placeholder="Freshman Day">
    <br>
    <label class="field">Description of Work</label> <input class="input" type="description" name="description" placeholder="Volunteered on Freshman Day">
    <br>
    <label class="field">Location</label> <input class="input" type="location" name="location" placeholder="Omaha North High School">
    <br>
    <label class="field">Date</label> <input class="input" type="date" name="date" placeholder="8/5/2017">
    <br>
    <label class="field">Supervisor</label> <input class="input" type="supervisor" name="supervisor" placeholder="Durante">
    <br>
    <label class="field">Supervisor Email</label> <input class="input" type="email" name="sup_email" placeholder="email@ops.org">
    <br>
    <label class="field">Amount of Hours</label> <input class="input" type="hours" name="hours" placeholder="5">
    <br>
    <input class="yellowText submitButton" type="submit" value="Submit">
</form>
<button class=" yellowText button" href="/activities">View Current Activities</button>
