<h1>activities form</h1>
<form method="POST" action="/activities">
    <label>Location *</label>
    <input type="location" name="location" placeholder="in omaha">
    <br>
    <label>Date *</label>
    <input type="date" name="date" placeholder="8/5/2017">
    <br>
    <label>Supervisor *</label>
    <input type="supervisor" name="supervisor" placeholder="Grace">
    <br>
    <label>Supervisor Email*</label>
    <input type="email" name="sup_email" placeholder="email@email.com">
    <br>
    <label>description of work*</label>
    <input type="description" name="description" placeholder="went to humane society">
    <br>
    <label>Amount of Hours*</label>
    <input type="hours" name="hours" placeholder="5">
    <br>
    <input type="submit" value="Submit">
</form>