
        <section id="grid">
            <div class="container large-bottom-margin">
                <div class="full-width">
                    <div class="small-padding">
                        <h2 class="small-bottom-padding">NHS Hours</h2>
                        
                        <h4 class="underline small-bottom-padding">Made By Grace and Tera</h4>

                    </div>
                </div>

                <!-- Answer this Question: What is Your Project-->


                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="blue-text">What is my project and what makes it awesome?</h3>
                        <h5 class="blue-text"></h5>                    </div>
                </div>
                <div class="full-width">
                    <div class="small-margin small-padding round-corners light-blue-background">

                        <p>"The National Honor Society (NHS) is the nation's premier organization established to recognize outstanding high school students. More than just an honor roll, NHS serves to recognize those students who have demonstrated excellence in the areas of scholarship, service, leadership, and character. These characteristics have been associated with membership in the organization since its beginning in 1921." - From the official NHS website</p>

                        <p>Both of us are members of our school's chapters of National Honor Society. One of the main parts of being a member of NHS is the service requirements. he process for submitting hours is inefficient due to the paperwork and filing system.</p>

                        <p>Our website solves this problem by simplifying the process for students to turn in their service requirements. Administrators can add students to their "class" and students can submit their hours on their accounts. Through this, all of the data is automatically stored in the same place so that both students and administrators can view all of their hours submitted.</p>

                        <p>NHS Hours will be implemented for use in Omaha North's NHS Chapter.</p>
                    </div>
                </div>

                <div class="full-width blue-underline small-top-padding"></div>


                <!-- Optional 2: Table Structure Question-->

                <div class="full-width">
                    <div class="small-padding">
                        <h3 class="pink-text">What is your table structure?</h3>
                        <h5 class="pink-text"></h5>
                    </div>
                </div>
                <div class="half">
                    <div class="small-margin small-padding round-corners light-pink-background">
                        <p>NHS Hours consists of three tables: administrators, students, and activities.</p>

                        <p>The first table, administrators, has many students. The data inside of it is name and email.</p>
                        <p>The second table, students, belong to an administrator and has many activities. The data inside of it is name and email.</p>
                        <p>The third table, activities, belong to a student. The data inside of it is title, description, date, location, supervisor, supervisor email, and hours.</p>

                    </div>
                </div>
                <div class="half">
                    <div class="small-margin small-padding round-corners light-pink-background">
                        <img src="#" style="height: 400px;" />
                        <h5 class="pink-text">Maybe take a picture and add it here?  This could be a caption.  Add the picture to the assets folder and change the source on the image tag from '#' to the path and name of the image. </h5>
                    </div>
                </div>

                <div class="full-width pink-underline small-top-padding"></div>



  <!-- This is the end of the div and section - don't delete! -->


                <div class="full-width">
                    <div class="small-padding">
                        <h2 class="small-bottom-padding">This Project was made for SheQL</h2>
                        <p class="small-bottom-padding">SheQL is a free, 10 week course offered to high school girls, femmes, and non-males in the Summer of 2017 by <a href="http://omahagirlswhocode.com/" target="_blank">Mystery Code Society</a> and supported with materials and space by the <a href="https://omahalibrary.org/location/
                        milton-r-abrahams-branch-blog/" target="_blank">Abrahams Branch library</a>.</p>
                        <p>This project was built using Ruby, Postgres, ActiveRecord, and Sinatra.</p>
                        <p>If you think these sites are beautiful, that is thanks to a custom front-end framework by Cara Heacock (puzzalea on github). We are so lucky to have her!</p>

                        <img src="/assets/sheql.png"  />
                    </div>
                </div>

            </div>
        </section>

