<form action="/student/<%= @student.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h1>Name:</h1><input name="name" type="text" value="<%= @user.name %>">
  <input type="submit" value="submit">
</form>