<h1>Create New Student</h1>
<form method="POST" action="/students">
    <label>Name *</label>
    <input type="text" name="name" placeholder="Emily Doe">
    <label>Email *</label>
    <input type="email" name="email" placeholder="emily@example.com">
    <input type="submit" value="Submit">
</form>